.finger{
  border-top: 5px rgb(187, 187, 187) solid;
  border-left: 5px rgb(187, 187, 187) solid;
  border-right: 5px rgb(187, 187, 187) solid;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height: clamp(5vh,10vh,80px);
  width: clamp(1vw,3vw,65px);
  margin: 10px;
}
.Pinky{
  height: clamp(9vh,18vh,120px);
}
.RingFinger,.IndexFinger{
  height: clamp(12vh,24vh,200px);
}
.MiddleFinger{
  height: clamp(15vh,30vh,220px);
}
.finger-active{
  border-top: 9px rgb(134, 233, 41) solid;
  border-left: 9px rgb(134, 233, 41) solid;
  border-right: 9px rgb(134, 233, 41) solid;

}
.hand{
  display: flex;
  align-items:flex-end;
}